* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vectorbg: url("../img/Vector.png");
  --black: #060003;
  --cblack: #0600039c;
  --gray: #222222;
  --white: #ededed;
  --cwhite: #ededed81;
  --blue: #679af3;
  --tur: #2ff4d3;
  --purp: #743deb;
  --border-gradient: linear-gradient(
    227.58deg,
    #2ff4d3 -44.04%,
    #679af3 42.36%,
    #743deb 113.95%
  );

  --font-96: clamp(56px, 8vw, 96px);
  --font-40: clamp(24px, 6vw, 40px);
  --font-32: clamp(24px, 4vw, 32px);
}

html {
  font-family: "Inter";
  color: var(--white);

  overflow-x: hidden;
}

body {
  background-color: var(--black);
}

/* TYPOGRAPHY */
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-96);
  line-height: 116px;
}

h2 {
  font-weight: 400;
  font-size: var(--font-32);
  line-height: 150%;
  margin-bottom: 75px;
}

p,
a {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
}

p {
  opacity: 0.7;
}

/* LAYOUTS */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* === UNIVERSAL STYLES === */


/* List */

.flex-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.flex-list li {
  margin: 12px;
  transition: 250ms ease all;
}

.flex-list li a {
  color: var(--white);
  text-decoration: none;
  opacity: 1;

  display: block;
  transition: 250ms ease all;
}

.list-items-circle li a {
  border: 2px solid var(--black);
  border-radius: 50%;
}

.list-items-circle li a:hover {
  background-color: var(--gray);
  border: 2px solid var(--black);
}

.list-items-circle li a .fab {
  width: 80px;
  height: 80px;
  font-size: 30px;
  

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: 250ms ease all;
}

.list-items-circle li a:hover .fab {
  color: var(--purp);
}

.contact .list-items-circle li a {
  border: 2px solid var(--white);
}

.contact .list-items-circle li a:hover {
  background-color: var(--white);
  border: 2px solid var(--black);
}

.flex-list hr {
  height: 30px;
  margin: 0 50px;
}

/* Profile Image */

.profile-container {
  min-width: 88px;
  width: 88px;
  height: 88px;
  margin: 12px;
  position: relative;
}

.profile-container .profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-container .ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  max-height: 900px;
  padding: 75px;
}

.section {
  min-height: 850px;
  padding: 75px;
}

.header .icon-show {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  transform: translateY(45em);
}

.header .icon-show .row {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px;
  white-space: nowrap;
  font-size: 64px;
  transform: rotate(-20deg);
}


.header .icon-show i {
  text-shadow: 2px 2px 2px var(--black);
  color: #ffffffcf;
  transition: 1s;
  padding: 0 5;
  user-select: none;
  cursor: default;
}

.header .icon-show i:hover {
  transition: 0s;
  color: var(--tur);
  text-shadow: 1px 1px 50px var(--black);
}

/* Icon animations */

.header .icon-show .row div{
  animation: animate1 120s linear infinite;
}

@keyframes animate1 
{
  0%
  {
    transform: translateX(-96%);
  }
  100%
  {
    transform: translateX(100%);
  }
}


.header .icon-show .row:nth-child(even) div{
  animation: animate2 60s linear infinite;
}

@keyframes animate2 
{
  0%
  {
    transform: translateX(8%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}


/* HEADER */

.header {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}
.header .list-items-circle li a:hover .fab {
    color: var(--tur);
  }

.header .header-links,
.contact .contact-links,
.header h1 {
  color: var(--black);
  margin-bottom: 45px;
}

.header .flex-list {
  color: var(--black);
}

.header .flex-list li a {
  color: var(--black);
}

.header .flex-list li:hover,
.header .flex-list li a:hover {
  color: var(--purp);
}

.header .flex-list hr {
  border: 1px solid var(--black);
}

/* === ABOUT === */

.about {
  background-image: var(--vectorbg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about h2 {
  max-width: 900px;
  font-weight: 400;
  font-size: var(--font-40);
  line-height: 150%;

  margin-bottom: 50px;
}

.about .achievements {
  list-style: none;
}

.about .achievements li {
  margin: 15px 0;
}

/* === PROJECTS === */

.projects .projects-link {
  color: var(--tur);
  margin-bottom: 30px;

  opacity: 1;
  transition: 250ms ease all;
}

.projects .projects-link:hover {
    color: var(--purp);
}

.projects .cards {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects .card {
  border: 1px solid var(--gray);

  height: 510px;
  max-width: 390px;
  padding: 30px;
  margin: 20px auto;
}

.projects .card img {
  width: 100%;
  max-width: 325px;
  height: auto;
  margin: 0 auto 16px;
}

.projects .card .card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 8px;
}

.projects .card .card-description {
  margin-bottom: 60px;
}

.projects .card .card-buttons {
display: flex;
justify-content: space-between;
}

.projects .card .card-buttons a {
  position: relative;
  display:inline-block;

  width: 150px;
  height: 50px;
}

.projects .card .card-buttons a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;

  color: var(--tur);
  background: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15;
}

.projects .card .card-buttons a span:nth-child(2) {
  color: var(--tur);
  background: var(--purp);
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
  clip-path: polygon(0% 0%, 5% 0, 50% 100%, 0 100%); 
}

.projects .card .card-buttons a span:nth-child(2):hover {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%); 
}

.projects .card .card-buttons a span:nth-child(1):hover ~ span:nth-child(2) {
  clip-path: polygon(0% 0%, 0 0, 0 100%, 0 100%);  
}

/* === EXPERIENCE === */

.experience-description {
  max-width: 900px;
  margin-bottom: 125px;

  font-weight: 400;
  font-size: var(--font-32);
  line-height: 150%;

  opacity: 1;
  position: relative;
}

.experience-description img {
  position: absolute;
  top: 50%;
  right: -200px;
  transform: translate(-50%, -50%);

  pointer-events: none;
}

.experience h2 {
  border-left: 2px solid var(--white);
  padding-left: 24px;
}

.experience .experience-cards {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.experience .experience-card {
  width: 370px;
  padding: 0 30px 30px 0;
}

.experience .experience-card .card-title {
  font-size: 18px;
  line-height: 150%;
}

.experience .experience-card .card-title .highlight {
  opacity: 0.7;
  font-weight: 400;
}

.experience .experience-card .card-years {
  color: var(--tur);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 24px;
  opacity: 1;
}

.experience .experience-card .card-list .card-list-item {
  margin: 0 0 16px 16px;
  opacity: 0.7;
}

/* === SKILLS === */

.skills {
  background-image: var(--vectorbg);
  background-repeat: no-repeat;
  background-size: cover;
}

.skills .skill-cards {
  flex-wrap: wrap;
}

.skills .skill-card {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #060003;
  background-blend-mode: darken;
  width: 170px;
  height: 170px;
  margin: 0 30px 30px 0;
  border: 1px solid var(--gray);

  cursor: pointer;

  transition: 500ms ease all;
}

.skills .skill-card .fab {
  font-size: 80px;
  opacity: 0.7;
  transition: 500ms ease all;
}

.skills .skill-card:hover {
  background-blend-mode: normal;
}

.skills .skill-card:hover .fab {
  opacity: 1;
  color: var(--purp);
}

.skills .skill-list {
  list-style: none;
  flex-wrap: wrap;
  margin: 50px;
}

.skills .skill-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .skill-list li img {
  margin: 10px;
}

/* === CONTACT === */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact h1,
.contact p {
  max-width: 750px;
  margin-bottom: 45px;
}

.contact .flex-list li:hover,
.contact .flex-list li a:hover {
  color: var(--blue);
}

/* === FOOTER === */

.footer {
  min-height: 88px;
  background-color: var(--gray);
}

/* === MEDIA STYLES === */

@media all and (max-width: 1200px) {
  .contact-details {
    align-items: flex-start;
    flex-direction: column;
  }

  .contact-details li {
    margin: 10px;
  }

  .contact-details li a {
    margin: 0;
  }

  .contact-details hr {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .skills .skill-card {
    width: 125px;
    height: 125px;
  }
}

@media all and (max-width: 767px) {
  .header,
  .section {
    padding: 40px;
  }
}

@media screen and (max-width:1200px){
  .blue-dot{
    display: none;
  }
}

  @media screen and (max-width:650px){
    .header .icon-show{
      display: none;
    }
}